{% extends "BizzyCardApp/base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class="container center oswald" id="grad"  style="border-radius: 10%; width: 300px;">  
    <br>
    <form method="post">
    <table class="table table-borderless table-responsive container">
      <tbody>
        <tr>
          <div class="mb-3 mt-3">
            <form method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                    <div>
                    <p>{{ field.label }}: <br> {{ field }}</p> 
                    {% for error in field.errors %}
                        <small style="color: red">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endfor %}
                
                <button class="btn btn-primary" type="submit">Login</button>
            </form> 
          </div>
        </tr>
        <tr>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-light center text-center">Submit</button>
          </div>
        </tr>
      </tbody>
    </table>
    </form>
    <div class="text-center">
      <a href="/sign-up/" class="link-dark">
          Don't have an account? Sign Up
      </a>
    </div>
  </div>

{% endblock %}